*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/壁紙例2.webp");
    background-size: cover;
    background-repeat: repeat;
        font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
}
.logo{
    margin-left: 20px;
}
header{
    display: flex;
    align-items: center;
    background-color: #D9EDDF;
    padding: 25px 0;
}

.aboutWrap h2{
    margin: 55px 0 0 5px;
}
.consept-text{
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    padding-right: 20px;
}

.border1{
    display: flex;
    border-right: 1px solid #000;
}

.border2{
    display: flex;
    border-right: 1px solid #000;
}

.border3{
    display: flex;
    border-right: 1px solid #000;
}

.border4{
    display: flex;
    border-right: 1px solid #000;
}

li{
    /* border-right:1px solid #000 ; */
    padding-right: 30px;
}

.mainvisual{
    width: 100%;
    height: 900px;
    background-image: url(../images/cafe.svg);
    background-size:cover ;
    background-repeat: no-repeat;
    text-align: center;
    object-fit: fill; 
}

main{
    /* padding: 0 auto; */
        margin: 0 120px;
}

#gnavi{
    display: flex;
    list-style-type: none;
    width: 100%;
}

.aboutWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.consept-text{
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-align: center;
}

.consept-text a{
    display: flex;
    justify-content: right;
}

.cafe-ex{
    /* width: 1320px; */
    display: flex;
    align-items: center;
    gap: 30px;
}

.write{
    gap: 27px;
    display: flex;
}

.work{
    gap: 75px;
    display: flex;
}

.talk{
    gap: 85px;
    display: flex;
}

.Website{
    gap: 75px;
    display: flex;
}

.leftimg{
    display: flex;
    gap: 75px;
}
.rightimg{
    display: flex;
}

.itemWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuname{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.itemWrap{
    display: flex;
    text-align: center;
}

.price{
    font-size: 32px;
}

.topWapper{
    display: flex;
    gap: 149px;
}

.topcontents{
    display: flex;
    margin: 80px 0 0 25px;
}

.middleWapper{
    display: flex;
    gap: 149px;
}

.middlecontents{
    display: flex;
    margin-top: 25px;
}

.bottomWapper{
    display: flex;
    gap: 149px;
}

.bottomcontents{
    display: flex;
    margin-top: 25px;
}