*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/壁紙例2.webp");
    background-repeat: repeat;
        font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 120px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #D9EDDF;
    gap: 210px;
}
.mainvisual{
    width: 100vh;
    height: 100vh;
    text-align: center;
}
.mainvisual img{
    width: 100vh;
    height: 100vh;
}
main{
    /* padding: 0 auto; */
}
#gnavi{
    display: flex;
    list-style-type: none;
    width: 100%;
}

.consept-text{
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-align: center;
}
.aboutWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.cafe-ex{
    /* width: 1320px; */
    display: flex;
    align-items: center;
    gap: 30px;
}
.work{
    gap: 75px;
    display: flex;
}
.write{
    gap: 27px;
    display: flex;
}
.talk{
    gap: 85px;
    display: flex;
}
.Website{
    gap: 75px;
    display: flex;
}
.leftimg{
    display: flex;
    gap: 75px;
}
.rightimg{
    display: flex;

}
.itemWrap{
    display: flex;
    flex-direction: column;
}
.menuname{
    display: flex;
    flex-direction: column;
    font-size: 32px;
}
.price{
    font-size: 32px;
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
}
.topitem{
    display: flex;
}
.middleitem{
    display: flex;
}
.bottomitem{
    display: flex;
}